/* UTILITY CLASS */
.text-white {
  color: white;
}

.text-blue {
  color: #006aff;
}

.text-grey {
  color: #7d7575;
}

.text-bold {
  font-weight: bold;
}

h3 {
  font-size: 18px;
}
/* end UTILITY CLASS */

/* Navbar restyling */
.bl-navbar {
  background-image: none;
  border-radius: 0;
  background-color: white;
  box-shadow: none;
  height: 65px;
}

.bl-navbar .navbar-header .logo {
  height: 28px;
  line-height: 65px;
  padding-right: 150px;
}

.bl-navbar .navbar-header .logo img {
  height: 100%;
}

.bl-navbar .navbar-header button.navbar-toggle {
  border: 0;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
}

.bl-navbar .navbar-header button.navbar-toggle .icon-bar {
  background-color: #5299FD;
  height: 3px;
}

.bl-navbar .navbar-collapse ul.navbar-nav > li > span,
.bl-navbar .navbar-collapse ul.navbar-right > li:last-child {
  line-height: 73px;
}

.bl-navbar .navbar-collapse ul.navbar-nav > li > span > a {
  color: black;
  padding: 0;
  padding-right: 15px;
  text-decoration: none;
}

.bl-navbar .navbar-collapse ul.navbar-nav > li > span > a:hover {
  color: #5299FD;
}

.bl-navbar .navbar-collapse ul.navbar-right > li > .sign-up-btn {
  background: transparent;
  border-color: #006aff;
  height: 35px;
  width: 80px;
}

.bl-navbar .navbar-collapse ul.navbar-right > li > .sign-up-btn:hover {
  background-color: #5299FD;
  color: white;
}
/* end Navbar restyling */

header {
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  padding-top: 60px;
}

header p {
  color: #D7F5FF;
  font-size: 22px;
}

header .form-container {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 60px;
  padding-bottom: 40px;
}

header .form-container h2:first-child {
  padding-top: 30px;
}

header .form-container h2:nth-child(2) {
  margin-top: -1px;
}

header .form-container .bl-form .form-group:first-child .form-control,
header .form-container .bl-form .form-group:nth-child(2) .form-control {
  border-color: rgba(201, 201, 201, 0.3);
  height: 50px;
  padding-left: 8px;
}

header .form-container .bl-form .form-control::placeholder {
  color: #7D7575;
  font-weight: bold;
  font-size: 18px;
}

header .form-container .bl-form .create-account {
  background-color: #0069ff;
}

header .form-container .bl-form .google-signup {
  box-shadow: 1px 1px 1px #c9c9c9;
}

header .form-container .terms-service a {
  text-decoration: underline;
}

main > .customers {
  background-color: #F3F5F9;
  padding: 30px 0;
}

main > .customers h3 {
  padding-bottom: 60px;
}

main > .customers .col-logo:nth-child(-n+4) {
  padding-bottom: 70px;
}

main > .customers .col-logo:nth-child(n+5) {
  padding-bottom: 30px;
}

main > .customers .col-logo .customer-logo {
  width: 240px;
}

main > .customers .col-logo .customer-logo img {
  width: 100%;
  height: auto;
}

main > .customers .customer-stories {
  font-size: 17px;
}
