/* UTILITY CLASS */
.text-white {
  color: white;
}

.text-blue {
  color: #0069ff;
}

.text-grey {
  color: #7d7575;
}

.text-darkblue {
  color: #031B4E;
}

.text-bold {
  font-weight: bold;
}

h2 {
  font-size: 38px;
}

.smaller-h2 {
  font-size: 30px;
}

h3 {
  font-size: 19px;
}

.h3-style {
  line-height: 24px;
}

p {
  font-size: 22px;
}

i.fa.fa-angle-right {
  padding-left: 8px;
  font-weight: bold;
}

i.fa.fa-chevron-down {
  margin-left: -4px;
}
/* end UTILITY CLASS */

/* Navbar restyling */
.bl-navbar {
  height: 65px;
}

.bl-navbar .logo {
  height: 27px;
  line-height: 65px;
}

.bl-navbar .logo img {
  height: 100%;
}

/* Burger restyling */
.bl-navbar .nav-burger button {
  border: none;
  width: 22px;
  height: 22px;
  background: none;
}

.bl-navbar .nav-burger button .button-bar {
  background-color: #5299FD;
  height: 3px;
  width: 18px;
  display: inline-block;
  position: relative;
  right: 5px;
  bottom: 11px;
  border-radius: 4px;
}

.bl-navbar .nav-burger button .button-bar:nth-child(2){
  bottom: 25px;
}

.bl-navbar .nav-burger button .button-bar:nth-child(3){
  bottom: 39px;
}
/* end Burger restyling */

.bl-navbar .nav-list ul > li {
  display: inline-block;
  font-size: 16px;
}

.bl-navbar .nav-list ul > li > span,
.bl-navbar .nav-list ul.navbar-right > li:last-child {
  line-height: 73px;
}

.bl-navbar .nav-list ul > li > span > a {
  color: inherit;
  padding: 0;
  padding-right: 16px;
  text-decoration: none;
}

.bl-navbar .nav-list ul > li > span > a:hover {
  color: #5299FD;
}

.bl-navbar .nav-list ul.navbar-right > li > .sign-up-btn {
  background: white;
  border-color: #006aff;
  height: 35px;
  width: 80px;
}

.bl-navbar .nav-list ul.navbar-right > li > .sign-up-btn:hover {
  background-color: #5299FD;
  color: white;
}
/* end Navbar restyling */

/* Jumbotron */
header {
  background-image: url("../img/jumbotron.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  padding-top: 60px;
}

header .jumbotron-description {
  color: #D7F5FF;
}

header .form-container {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 60px;
  padding-bottom: 40px;
}

header .form-container h2:first-child {
  padding-top: 30px;
}

header .form-container h2:nth-child(2) {
  margin-top: -1px;
}

/* Form restyling */
header .form-container .bl-form .form-group:first-child .form-control,
header .form-container .bl-form .form-group:nth-child(2) .form-control {
  border-color: rgba(201, 201, 201, 0.3);
  height: 50px;
  padding-left: 8px;
}

header .form-container .bl-form .form-control::placeholder {
  color: #7D7575;
  font-weight: bold;
  font-size: 18px;
}

header .form-container .bl-form .create-account {
  background-color: #0069ff;
}

header .form-container .bl-form .google-signup {
  box-shadow: 1px 1px 1px #c9c9c9;
}

header .form-container .bl-form .google-signup .google-logo {
  position: absolute;
}
/* end Form restyling */

header .form-container .terms-service a {
  text-decoration: underline;
}
/* end Jumbotron */

/* Sezione Customers */
main > .customers {
  background-color: #F3F5F9;
  padding: 30px 0;
}

main > .customers h3 {
  padding-bottom: 35px;
}

main > .customers .customer-logo-container {
  display: inline-block;
}

main > .customers .customer-logo-container:nth-child(2n+2) {
  padding-right: 50px;
}

main > .customers .customer-logo-container:nth-child(-n+4) {
  padding-bottom: 70px;
}

main > .customers .customer-logo-container .customer-logo {
  display: inline-block;
  width: 200px;
}

main > .customers .customer-logo-container .customer-logo img {
  width: 100%;
}

main > .customers .customer-stories {
  font-size: 17px;
  display: block;
}
/* end Sezione Customers */

/* Sezione Deployment */
main > .deployment {
  padding: 65px 0;
}

main > .deployment .deployment-description {
  padding-bottom: 60px;
}

main > .deployment ul.config-process {
  padding-bottom: 25px;
}

main > .deployment ul.config-process > li {
  border-left: 2px solid #7d7575;
  padding-left: 15px;
  font-size: 22px;
}

main > .deployment ul.config-process > li:hover {
  color: darkblue;
  border-left: 2px solid darkblue;
}

main > .deployment ul.config-process > li:first-child {
  padding-top: 10px;
}

main > .deployment ul.config-process > li:nth-child(-n+4) {
  padding-bottom: 20px;
}

main > .deployment ul.config-process > li:last-child {
  padding-bottom: 10px;
}
/* end Sezione Deployment */

/* Sezione Developers */
main > .developers {
  background-color: #F3F5F9;
  padding-top: 70px;
}

main > .developers h2 {
  padding-bottom: 20px;
}

main > .developers .droplets-figure img {
  padding-top: 135px;
  padding-bottom: 20px;
}

main > .developers .droplets-figure figcaption {
  font-size: 16px;
  padding-bottom: 80px;
}

main > .developers ul {
  padding-bottom: 50px;
}

main > .developers ul li {
  height: 13px;
  width: 13px;
  border: 1px solid #0069ff;
  border-radius: 50%;
}

main > .developers ul li:first-child,
main > .developers ul li:active {
  background-color: #0069ff;
}
/* end Sezione Developers */

/* Sezione Business */
main > .business {
  padding: 70px 0;
}

main > .business .business-feature img {
  padding-top: 30px;
}

main > .business .business-feature p,
main > .business .business-feature a {
  font-size: 17px;
}
/* end Sezione Business */



/* Versione Tablet */
@media screen and (min-width: 768px) {
  header .form-container {
    margin-top: 65px;
  }

  main > .customers h3 {
    padding-bottom: 0px;
  }

  main > .customers .customer-logo-container,
  main > .customers .customer-logo-container:nth-child(2n+2) {
    padding-right: 10px;
  }

  main > .customers .customer-logo-container:nth-child(-n+4) {
    padding-bottom: 0;
  }

  main > .customers .customer-logo-container .customer-logo {
    width: 100px;
  }

}
/* end Versione Tablet */

/* Versione Desktop */
@media screen and (min-width: 992px) {
  h1 {
    font-size: 60px;
  }

  header .jumbotron-description {
    font-size: 23px;
  }

  header .form-container {
    margin-top: 50px;
  }

  main > .customers .customer-logo-container .customer-logo {
    width: 170px;
  }
}
/* Versione Desktop */
